SCYLLA_HOST=node-0.aws-us-east-1.<cluster-id>.clusters.scylla.cloud
SCYLLA_DC=AWS_US_EAST_1
SCYLLA_USER=scylla
SCYLLA_PASSWORD=your-password-here
# SCYLLA_PORT=9042
# SCYLLA_KEYSPACE=langchain_scylladb
